/firefly

# qtdeploy
deploy/

# rcc
rcc_cgo_darwin_darwin_amd64.go
rcc_cgo_linux_linux_amd64.go
rcc_cgo_windows_windows_amd64.go

# visual studio code
/.vscode

# GoLand
/.idea

# macOS
.DS_Store

## GitHub default go gitignore

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/